body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Lobster', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
}

h2 {
  color: red;
}

header h2 {
  color: white;
}

footer {
  background-image: linear-gradient(red, white);
  padding: 20px 0;
}

.jumbotron {
  margin:0;
  padding: 30px;
  background-image: linear-gradient(to right, red, pink, white);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar {
  background-color: rgb(243, 65, 65);
}